# --- Base scientifique ---
numpy
pandas
matplotlib
pyyaml

# --- Vision par ordinateur ---
opencv-python

# --- Deep Learning ---
torch
torchvision

# --- Reinforcement Learning / Multi-Agent ---
gymnasium
ray[rllib]

# --- CARLA Simulator ---
carla==0.9.15